<!DOCTYPE html>
<html>
<head><title>Register</title></head>
<body>
  <h1>Register</h1>
  <form method="post">
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Create account</button>
  </form>
  <a href="/login">Already have an account? Login</a>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="margin:20px auto; width:80%;">
      {% for category, message in messages %}
        <div style="
            padding:15px;
            margin-bottom:10px;
            border-radius:8px;
            font-weight:bold;
            text-align:center;
            color:white;
            background:
              {% if category == 'success' %} #00cc66;
              {% elif category == 'danger' %} #ff0033;
              {% else %} #0099ff;
              {% endif %}
        ">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

</body>
</html>

